<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>
    <span th:text="${name}"></span><br>
</h2>
<p>
    Id задания: <span th:text="${taskId}"></span><br>
    Тип задания: <span th:text="${taskType}"></span><br>
    Время начала: <span th:text="${startTime}"></span><br>
    Время окончания: <span th:text="${endTime}"></span><br>
    Адрес сайта: <span th:text="${sitePath}"></span><br>
    Название сайта: <span th:text="${siteName}"></span><br>
</p>
</body>
</html>