<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="x-apple-disable-message-reformatting">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="telephone=no" name="format-detection">
</head>
<body>
<h2>
  <span th:text="${name}"></span><br>
</h2>
<p>
  Ваша почта<br>
  <b><span th:text="${email}"></span></b><br>
  успешно подтверждена, спасибо за регистрацию!
</p>
<p>
  Дата регистрации<br>
  <b><span th:text="${registrationDate}"></span></b>
</p>
</body>
</html>